<style>
  *{
    margin: 0;
    padding: 0;
  }
  .content{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("<%= image_path 'wap/bg.png'%>");
    text-align: center;
  }
    #head{
      width: 150px;
      height: 150px;
      margin-top: 40%;
      border-radius: 75px;
      margin-bottom: 10px;
      -webkit-animation: rotate 8s infinite linear;
      animation:rotate 8s infinite linear;
      -moz-animation:rotate 8s infinite linear;
      -ms-animation:rotate 8s infinite linear;
      -o-animation:rotate 8s infinite linear;
    }
    .audiojs{
      width: 90%;
      margin: 0 auto;
    }
    p{
      margin-bottom: 20px;
      color: #fff;
      text-shadow: 2px 2px 2px rgba(0,0,0,1);
    }

  @-webkit-keyframes rotate{
    from{-webkit-transform:rotate(0deg)}
    to{-webkit-transform:rotate(360deg)}
  }
  @-moz-keyframes rotate{
    from{-moz-transform:rotate(0deg)}
    to{-moz-transform:rotate(360deg)}
  }
  @-ms-keyframes rotate{
    from{-ms-transform:rotate(0deg)}
    to{-ms-transform:rotate(360deg)}
  }
  @-o-keyframes rotate{
    from{-o-transform:rotate(0deg)}
    to{-o-transform:rotate(360deg)}
  }
</style>
<div class="content">
  <%= image_tag @order.user.headimgurl,:id => 'head' %>
  <p><%= @order.user.nickname %></p>
  <audio src="<%= @order.voice_url%>" preload="auto" />
</div>

<%= javascript_include_tag 'wap/audiojs/audio.min'%>

<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>