<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li><a href="#">首页</a></li>
      <li class="active"><span>问答</span></li>
      <a href="<%= new_admin_question_path %>" class="label label-primary label-large pull-right">
        新增
      </a>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="main-box no-header clearfix">
      <div class="main-box-body clearfix">
        <div class="table-responsive">
          <table class="table user-list table-hover">
            <thead>
            <tr>
              <th><span>ID</span></th>
              <th><span>名称</span></th>
              <th><span>创建时间</span></th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <% @questions.each do |question| %>
              <tr>
                <td><%= question.id %></td>

                <td>
                  <span class="user-subhead"><%= question.name%></span>
                </td>
                <td>
                  <%= created_at(question.created_at)%>
                </td>
                <td style="width: 20%;">
                  <a href="<%= edit_admin_question_path(question) %>" class="table-link">
                      <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                      </span>
                  </a>
                </td>
              </tr>

            <% end %>

            </tbody>
          </table>
          <%= will_paginate @questions %>
        </div>
      </div>
    </div>
  </div>
</div>
